<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 📸 Recursos e permissões globais -->
    <!-- Declara que a app pode usar a câmera, mas não é obrigatória -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Necessário apenas em Android 9 ou inferior para salvar fotos na galeria -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FinPowerApplication"  android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoFindPower">

        <!-- Outras Activities da aplicação -->
        <activity
            android:name=".PartilhasActivity"
            android:exported="false" />
        <activity
            android:name=".RelatoriosActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriasActivity"
            android:exported="false" />

        <!-- Activity para digitalizar despesas -->
        <activity
            android:name=".DigitalizarActivity"
            android:exported="false" />

        <!-- Activity principal (ponto de entrada da app) -->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FinPowerApplication"
            android:exported="false" />

    </application>

</manifest>